<h1>
Please enter your
</h1>
<form method=POST>
<table>
<tr>
<td align=right>
name:
</td>
<td> 
<input name=person_name><br>
</td>
</tr>
<tr>
<td align=right>
birthdate (Month dd yyyy):
</td>
<td>
<select name="month">
<option value="Month">Month</option>
<option value="01">January</option>
<option value="02">February</option>
<option value="03">March</option>
<option value="04">April</option>
<option value="05">May</option>
<option value="06">June</option>
<option value="07">July</option>
<option value="08">August</option>
<option value="09">September</option>
<option value="10">October</option>
<option value="11">November</option>
<option value="12">December</option>
</select>
<input type="text" name="date" maxlength="2" size="2">
<input type="text" name="year" maxlength="4" size="4">
</td>
</tr>
<tr>
<td align=right>
hometown:
</td>
<td>
<input name=location><br>
</td>
</tr>
<tr>
<td align=right>
sex:
</td>
<td>
<input type="radio" name="gender" value="male">Male<br>
<input type="radio" name="gender" value="female">Female
</td>
</tr>
<tr>
<td>
</td>
<td>
<input type="submit" name="mysubmit" value="Get my Kua Number!"><br>
</td>
</tr>
</table>
</form>
